.pictures {
  width: 250px;
  height: 150px;
}
.containerHome {
  display: flex;
  width: 100%;
  flex-wrap: flex;
}
.containerAd {
  display: flex;
  border: 1px solid black;
  margin: 10px;
}

.buttonHome {
  height: 5vh;
  width: 5vw;
}

.inputForm {
  margin: 40px;
}
